body {
	margin-top: 2em;
}

.post {
	padding-top: 1em;
}

.preview {
	max-width: 5em;
}

.preview:hover {
	max-width: 100%;
}

#account-prompt {
	float: right;
}

.header > h1 {
	float: left;
}

.header {
	display: flow-root;
}